---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import IconCaretRightFilled from './ui/icons/IconCaretRightFilled.astro';

interface Props {
  to: string;
  brand: string;
}

let { to, brand }: Props = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/web-brands/*.webp',
);

const size = 40;

const getBrandImage = (brand: string) => {
  return images[`/src/assets/web-brands/${brand}.webp`]();
};
---

<section class=`link-card link-card-${to}`>
  <a class="link-card-anchor" href={`/${to}/`}>
    <Image
      src={getBrandImage(to)}
      alt={`Logo de ${brand}`}
      width={size}
      height={size}
      loading="lazy"
    />

    <span>{brand}</span>

    <IconCaretRightFilled />
  </a>
</section>

<style lang="scss" is:global>
  .link-card {
    --opacity: 0.4;
    --radius: 1rem;

    display: flex;
    align-items: center;

    background-color: var(--second-bg-color);
    transition: box-shadow 200ms ease-in-out;

    border: var(--spacing-01) solid var(--second-bg-color);
    border-radius: var(--radius);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--opacity));

    overflow: hidden;

    &.link-card-3djuegos {
      --color-brand: rgba(255, 1, 0, 1);
    }

    &.link-card-anaitgames {
      --color-brand: rgba(227, 68, 70, 1);
    }

    &.link-card-areajugones {
      --color-brand: rgba(254, 222, 26, 1);
    }

    &.link-card-eurogamer {
      --color-brand: rgba(1, 133, 204, 1);
    }

    &.link-card-hobbyconsolas {
      --color-brand: rgba(2, 169, 249, 1);
    }

    &.link-card-ign {
      --color-brand: rgba(194, 20, 18, 1);
    }

    &.link-card-meristation {
      --color-brand: rgba(253, 112, 1, 1);
    }

    &.link-card-vandal {
      --color-brand: rgba(40, 75, 91, 1);
    }

    &:hover {
      box-shadow: 0px 0px 10px 0px var(--color-brand);

      & > .link-card-anchor::before {
        opacity: 0.5;
      }
    }
  }

  .link-card-anchor {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    padding: 1rem;

    transition: opacity 200ms ease-in-out;

    img,
    span,
    svg {
      z-index: 10;
    }

    img {
      margin-right: var(--layout-01);

      border-radius: var(--spacing-03);
    }

    span {
      font-weight: 600;
    }

    svg {
      margin-left: auto;

      width: 1rem;
    }

    &::before {
      content: '';

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 0.75rem;

      background-color: var(--color-brand);

      transition: opacity 200ms ease-in-out;

      filter: blur(25px);
    }
  }
</style>
