---
import type { WpPost } from '../models/interfaces/wordpress';
import { getFormattedDate, getReadingTime } from '../scripts/post';

interface Props {
  post: WpPost;
  html: string;
}

const { post, html }: Props = Astro.props;

const author = post._embedded.author[0].name;
const modifiedDate = getFormattedDate(post.modified);
const { minutes: minutesToRead } = getReadingTime(html);
const minuteString = minutesToRead === 1 ? 'minuto' : 'minutos';
---

<aside class="post-info-container">
  <div class="post-info">
    <span class="post-author">Escrito por {author}</span>
    <span class="separator">|</span>

    <div class="post-date">
      <span class="post-date-label">Actualizado el</span>

      <time class="post-date-time" datetime={post.modified}>
        {modifiedDate}
      </time>
    </div>
  </div>

  <span class="post-time-to-read">
    Tiempo de lectura: {minutesToRead}
    {minuteString}
  </span>
</aside>

<style lang="scss">
  .post-info-container {
    display: flex;
    flex-direction: column;

    margin-bottom: var(--layout-04);
    padding-bottom: var(--layout-01);

    font-size: 0.9rem;
    font-weight: 500;

    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .post-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-03);
  }

  .post-date {
    display: flex;
    align-items: center;
    gap: var(--spacing-02);
  }

  .post-time-to-read {
    color: #eb7085;
    font-size: 1.05rem;
  }

  @media (prefers-color-scheme: dark) {
    .post-info-container {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }

  :root.light-theme .post-info-container {
    border-color: rgba(0, 0, 0, 0.3);
  }

  :root.dark-theme .post-info-container {
    border-color: rgba(255, 255, 255, 0.3);
  }
</style>
